.mypagemodify-container {
  width: 50%;
  margin-top: 2rem;
  margin-left: 12%;
}
.mypagemodify-boardmain {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.mypagemodify-editicon {
  margin-top: 10px;
}
.mypagemodify-editicon:hover {
  color: #ff611d;
}

.mypagemodify-boardtable {
  width: 100%;
  border-top: 3px solid #b4b4b4;
  border-collapse: collapse;
  margin-bottom: 4rem;
}

.mypagemodify-boardtable td {
  font-size: 1.2rem;
  font-weight: 400;
  width: 50%;
  text-align: left;
  border-bottom: 2px solid #b4b4b4;
  padding: 1rem 0 1rem 2rem;
}

.mypagemodify-boardtable th {
  border-bottom: 2px solid #b4b4b4;
  padding: 1rem 2rem 1rem 0;
  font-size: 1.3rem;
  font-weight: 600;
  width: 50%;
  text-align: right;
}

// tablet

.tablet-mypagemodify-container {
  margin: auto;
  width: 90%;
  margin-top: 25rem;
}
.tablet-mypagemodify-boardmain {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.tablet-mypagemodify-editicon {
  margin-top: 10px;
}
.tablet-mypagemodify-editicon:hover {
  color: #ff611d;
}

.tablet-mypagemodify-boardtable {
  width: 100%;
  border-top: 3px solid #b4b4b4;
  border-collapse: collapse;
  margin-bottom: 4rem;
}
.tablet-mypagemodify-boardtable td {
  border-bottom: 2px solid #b4b4b4;
  padding: 1rem 0 1rem 2rem;
  font-size: 1.2rem;
  font-weight: 400;
  width: 50%;
  text-align: left;
  padding-left: 2rem;
}

.tablet-mypagemodify-boardtable th {
  border-bottom: 2px solid #b4b4b4;
  padding: 1rem 2rem 1rem 0;
  font-size: 1.3rem;
  font-weight: 600;
  width: 50%;
  text-align: right;
}

//mobile

.mobile-mypagemodify-container {
  margin: auto;
  width: 90%;
  margin-top: 25rem;
}
.mobile-mypagemodify-boardmain {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.mobile-mypagemodify-editicon {
  margin-top: 10px;
}
.mobile-mypagemodify-editicon:hover {
  color: #ff611d;
}

.mobile-mypagemodify-boardtable {
  width: 100%;
  border-top: 3px solid #b4b4b4;
  border-collapse: collapse;
  margin-bottom: 4rem;
}
.mobile-mypagemodify-boardtable td {
  font-size: 1rem;
  font-weight: 400;
  width: 50%;
  text-align: left;
  border-bottom: 2px solid #b4b4b4;
  padding: 1rem 0 1rem 2rem;
}

.mobile-mypagemodify-boardtable th {
  font-size: 1rem;
  border-bottom: 2px solid #b4b4b4;
  padding: 1rem 2rem 1rem 0;
  font-weight: 600;
  width: 50%;
  text-align: right;
}
