$basic-color: #ff611d;
$basic-border-color: #bcbcbc;
$sub-color: #5a5a5a;

.restaurant-detail-review-write-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .restaurant-detail-review-write-top {
    width: 92%;
    display: flex;
    justify-content: flex-end;
    margin: 1rem 0;

    .restaurant-detail-review-write-text {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        margin-right: 0.25rem;
      }

      p {
        color: $basic-color;
        font-size: 1rem;
      }
    }

    .restaurant-detail-review-write-caution {
      font-size: 0.875rem;
      color: #9f9f9f;
    }
  }

  .restaurant-detail-review-write-middle {
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      font-size: 1.875rem;
      font-weight: 500;
      color: #515151;
    }

    div {
      width: 13.438rem;
      height: 2.25rem;
      margin-top: 1rem;
    }

    p {
      font-size: 1rem;
      color: #9f9f9f;
      margin-top: 1rem;
    }
  }

  .restaurant-detail-review-write-middle-textarea-div {
    width: 92%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

    .restaurant-detail-review-write-middle-textarea {
      height: 13.75rem;
      padding: 1rem;
      background-color: #d9d9d9;
      color: #000;
      font-size: 1rem;
      border-radius: 5px;
      resize: none;
    }

    .restaurant-detail-review-write-middle-text-count {
      font-size: 1rem;
      display: flex;
      justify-content: flex-end;
      padding-right: 1rem;
      color: #5f5f5f;
      position: relative;
      bottom: 2rem;
    }
  }

  .restaurant-detail-review-write-middle-img-div {
    width: 92%;
    display: flex;
    align-items: center;
    flex-direction: row;

    .restaurant-detail-review-write-middle-add-img {
      width: 20%;
      height: auto;
      padding: 3.6% 0;
      display: flex;
      border: 1px dotted $basic-border-color;
      border-radius: 5px;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .restaurant-detail-review-write-middle-img-input-div {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 2rem;

      .restaurant-detail-review-write-middle-img-input {
        visibility: hidden;
      }
    }

    .restaurant-detail-review-write-middle-add-img-item-div {
      width: 20%;
      height: auto;
      margin-left: 1rem;

      .restaurant-detail-review-write-middle-add-img-item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        img {
          position: relative;
          top: 0.75rem;
          width: 100%;
          height: 12rem;
          object-fit: fill;
          padding: 5px;
          border-radius: 5px;
          border: 1px dotted $basic-border-color;
        }

        .restaurant-detail-review-write-middle-delete-button {
          width: 1.25rem;
          height: 1.25rem;
          background-color: $basic-color;
          color: #fff;
          border-radius: 50%;
          padding: 0.1rem;
          position: relative;
          top: 1.25rem;
          cursor: pointer;
        }
      }
    }
  }

  .restaurant-detail-review-write-bottom-text {
    font-size: 1rem;
    color: #9f9f9f;
    margin-top: 2.5rem;
  }

  .restaurant-detail-review-write-bottom-buttons-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;

    .restaurant-detail-review-write-bottom-cancel-button {
      width: 46%;
      background-color: #fff;
      color: $basic-color;
      border-radius: 5px;
      border: 1px solid $basic-color;
      height: 3.375rem;
      margin-top: 1.5rem;
      cursor: pointer;
    }

    .restaurant-detail-review-write-bottom-submit-button {
      width: 46%;
      background-color: $basic-color;
      color: #fff;
      border-radius: 5px;
      border: none;
      height: 3.375rem;
      margin-top: 1.5rem;
      cursor: pointer;
    }
  }
}

.restaurant-mobile-detail-review-write-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.5rem;

  .restaurant-mobile-detail-review-write-middle {
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      font-size: 1.875rem;
      font-weight: 500;
      color: #515151;
    }

    div {
      width: 13.438rem;
      height: 2.25rem;
      margin-top: 1rem;
    }

    p {
      font-size: 1rem;
      color: #9f9f9f;
      margin-top: 1rem;
    }
  }

  .restaurant-mobile-detail-review-write-middle-textarea-div {
    width: 92%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

    .restaurant-mobile-detail-review-write-middle-textarea {
      height: 13.75rem;
      padding: 1rem;
      background-color: #d9d9d9;
      color: #000;
      font-size: 1rem;
      border-radius: 5px;
      resize: none;
    }

    .restaurant-mobile-detail-review-write-middle-text-count {
      font-size: 1rem;
      display: flex;
      justify-content: flex-end;
      padding-right: 1rem;
      color: #5f5f5f;
      position: relative;
      bottom: 2rem;
    }
  }

  .restaurant-mobile-detail-review-write-middle-img-div {
    width: 92%;
    display: flex;
    align-items: center;
    flex-direction: row;

    .restaurant-mobile-detail-review-write-middle-add-img {
      width: 20%;
      height: auto;
      padding: 0.1% 0;
      display: flex;
      border: 1px dotted $basic-border-color;
      border-radius: 5px;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .restaurant-mobile-detail-review-write-middle-img-input-div {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      top: 1rem;
      width: 90%;

      .restaurant-mobile-detail-review-write-middle-img-input {
        visibility: hidden;
      }
    }

    .restaurant-mobile-detail-review-write-middle-add-img-item-div {
      width: 20%;
      height: auto;
      border-radius: 5px;
      margin-left: 1rem;
      border: 1px dotted $basic-border-color;

      .restaurant-mobile-detail-review-write-middle-add-img-item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0 0.5rem;

        img {
          width: 100%;
          height: 5rem;
          position: relative;
          top: 0.5rem;
          object-fit: fill;
        }

        .restaurant-mobile-detail-review-write-middle-delete-button {
          width: 1.25rem;
          height: 1.25rem;
          background-color: $basic-color;
          color: #fff;
          border-radius: 50%;
          padding: 0.1rem;
          position: relative;
          top: 2rem;
          cursor: pointer;
        }
      }
    }
  }

  .restaurant-mobile-detail-review-write-bottom-text {
    font-size: 1rem;
    color: #9f9f9f;
    margin-top: 2.5rem;
  }

  .restaurant-mobile-detail-review-write-bottom-buttons-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;

    .restaurant-mobile-detail-review-write-bottom-cancel-button {
      width: 46%;
      background-color: #fff;
      color: $basic-color;
      border-radius: 5px;
      border: 1px solid $basic-color;
      height: 2.75rem;
      margin-top: 1.5rem;
      cursor: pointer;
    }

    .restaurant-mobile-detail-review-write-bottom-submit-button {
      width: 46%;
      background-color: $basic-color;
      color: #fff;
      border-radius: 5px;
      border: none;
      height: 2.75rem;
      margin-top: 1.5rem;
      cursor: pointer;
    }
  }
}
