$basic-color: #ff611d;
$basic-border-color: #bcbcbc;
$sub-color: #5a5a5a;

.restaurant-detail-photo-div {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  justify-items: center;

  img {
    width: 90%;
    height: 25vw;
    object-fit: fill;
    margin-top: 1rem;
  }
}

.restaurant-detail-non-photo-div {
  width: 100%;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    font-size: 1.5rem;
    font-weight: 500;
  }
}
