@import 'sass/abstracts/_variables_color';
@import 'sass/abstracts/_mixins';
@import 'sass/components/_buttons';

.signup-process-2-container {
  h2 {
    @include font-container(1.625rem, 2.313rem, $subject-font-color);

    width: 100%;
  }
}

.signup-form {
  @include flex-container(column, center, flex-start);

  margin-top: 1.3125rem;
  width: 100%;

  .id-input-label {
    @include flex-container(column, center, flex-start);

    width: 100%;

    div {
      @include flex-container(row, center, center);

      width: 100%;
    }

    input {
      @include font-container(1rem, 1.375rem, $subject-font-color);

      margin: 0.5rem 0;
      padding: 0 1.4375rem;
      width: calc(100% - 6.625rem);
      height: 3.375rem;
      border: 1px solid $basic-border-color;
      border-radius: 3px;
    }

    button {
      @include activate-button(6.625rem, 3.375rem);
      @include font-container(1rem, 1.375rem, white);

      &:hover {
        cursor: pointer;
      }
    }

    @media screen and (max-width: 1040px) {
      input {
        width: calc(100% - 4.8125rem);
      }

      button {
        @include activate-button(4.8125rem, 3.375rem);
      }
    }
  }

  .password-input-label {
    margin-top: 0.9375rem;
  }

  label {
    @include flex-container(column, center, flex-start);

    width: 100%;

    & > input {
      @include font-container(1rem, 1.375rem, $subject-font-color);

      margin: 0.5rem 0;
      padding: 0 1.4375rem;
      width: 100%;
      height: 3.375rem;
      border: 1px solid $basic-border-color;
      border-radius: 3px;
    }

    & > input::placeholder {
      @include font-container(1rem, 1.375rem, $sub-font-color);
    }
  }

  .alert-text-wrap {
    & > span {
      @include font-container(0.75rem, 1rem, $sub-font-color);
    }

    .signup-concord {
      color: $basic-color;
      & > img {
        filter: opacity(0.5) drop-shadow(0 0 0 $basic-color);
      }
    }
  }

  .signup-activate-button {
    @include activate-button($height: 3.375rem);
    @include font-container(1rem, 1.375rem, white);

    margin: 1.5rem 0 3.375rem 0;

    &:hover {
      cursor: pointer;
    }
  }

  .signup-disabled-button {
    @include disabled-button($height: 3.375rem);
    @include font-container(1rem, 1.375rem, white);

    margin: 1.5rem 0 3.375rem 0;
  }
}
