@import 'sass/abstracts/_variables_color';
@import 'sass/abstracts/_mixins';

.signup-main {
  @include flex-container(column, flex-start, flex-start);

  margin: 120px auto 0 auto;
  padding: 0 4.375rem;
  border-radius: 15px;
  width: 100%;
  max-width: 39.6875rem;
  height: 100%;
  background-color: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  & > h1 {
    @include font-container(2.5rem, 3.5rem, $subject-font-color);

    margin: 2.9375rem 0;
    width: 100%;
    text-align: center;
  }

  .signup-progress {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 1fr 0.5fr;
    grid-template-columns: 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr;
    grid-row-gap: 0.75rem;
    margin-bottom: 3.0625rem;
    width: 100%;
    height: 4.875rem;

    & > .process-1,
    .process-2,
    .process-3 {
      width: 2.8125rem;
      height: 2.8125rem;
    }

    .process-1 {
      grid-column-start: 2;
    }

    .process-bar-1 {
      grid-column-start: span 3;
      width: 80%;
      height: 0.25rem;
    }

    .process-2 {
      grid-column-start: 6;
    }

    .process-bar-2 {
      grid-column-start: span 3;
      width: 80%;
      height: 0.25rem;
    }

    .process-3 {
      grid-column-start: 10;
    }

    .activate-sentence-1 {
      @include font-container(1rem, 1.313rem, $basic-color);
      grid-column-start: span 3;
    }

    .sentence-2 {
      @include font-container(1rem, 1.313rem, $sub-font-color);
      grid-column-start: span 5;
    }

    .activate-sentence-2 {
      @include font-container(1rem, 1.313rem, $basic-color);
      grid-column-start: span 5;
    }

    .sentence-3 {
      @include font-container(1rem, 1.313rem, $sub-font-color);
      grid-column-start: span 3;
    }

    .activate-sentence-3 {
      @include font-container(1rem, 1.313rem, $basic-color);
      grid-column-start: span 3;
    }
  }
}

@media screen and (max-width: 1040px) {
  .signup-main {
    margin: 0 auto;
    border-radius: 0;
    padding: 4.6875rem 2rem 0 2rem;
    width: 100vw;
    height: auto;
    box-shadow: none;

    .signup-progress {
      grid-template-columns: 1fr 1fr 1fr 0.5fr 1fr 1fr 1fr 0.5fr 1fr 1fr 1fr;

      .process-bar-1 {
        width: 60%;
      }

      .process-bar-2 {
        width: 60%;
      }
    }
  }
}
