$basic-color: #ff611d;
$basic-border-color: #bcbcbc;
$sub-feature-color: #3e3e3e;
$disabled-button-color: #b8b8b8;
$place-holder-color: #a0a0a0;

$subject-font-color: #161616;
$content-font-color: #484848;
$sub-font-color: #939393;

$subject-table-font-color: #353535;
$post-table-font-color: #565656;
$page-nation-border-color: #b4b4b4;
$page-nation-font-color: #a4a4a4;

$footer-background-color: #565252;
$footer-font-color: #dbd6d6;
